<a href="https://colab.research.google.com/github/chaynika10/Machine-learning-Summer-training/blob/main/Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importing the Dependencies

In [ ]:
import pandas as pd
import numpy as np
import difflib
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

Data collection and pre-processing

loading the data from csv

In [ ]:
movies_data = pd.read_csv('/content/movies.csv')

printing starting 5 rows of dataframe

In [ ]:
movies_data.head()

,index,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,cast,crew,director
0,0,237000000,Action Adventure Fantasy Science Fiction,http://www.avatarmovie.com/,19995,culture clash future space war space colony so...,en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,Sam Worthington Zoe Saldana Sigourney Weaver S...,"[{'name': 'Stephen E. Rivkin', 'gender': 0, 'd...",James Cameron
1,1,300000000,Adventure Fantasy Action,http://disney.go.com/disneypictures/pirates/,285,ocean drug abuse exotic island east india trad...,en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,...,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,Johnny Depp Orlando Bloom Keira Knightley Stel...,"[{'name': 'Dariusz Wolski', 'gender': 2, 'depa...",Gore Verbinski
2,2,245000000,Action Adventure Crime,http://www.sonypictures.com/movies/spectre/,206647,spy based on novel secret agent sequel mi6,en,Spectre,A cryptic message from Bondâ€™s past sends him o...,107.376788,...,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466,Daniel Craig Christoph Waltz L\u00e9a Seydoux ...,"[{'name': 'Thomas Newman', 'gender': 2, 'depar...",Sam Mendes
3,3,250000000,Action Crime Drama Thriller,http://www.thedarkknightrises.com/,49026,dc comics crime fighter terrorist secret ident...,en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,...,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106,Christian Bale Michael Caine Gary Oldman Anne ...,"[{'name': 'Hans Zimmer', 'gender': 2, 'departm...",Christopher Nolan
4,4,260000000,Action Adventure Science Fiction,http://movies.disney.com/john-carter,49529,based on novel mars medallion space travel pri...,en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,...,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124,Taylor Kitsch Lynn Collins Samantha Morton Wil...,"[{'name': 'Andrew Stanton', 'gender': 2, 'depa...",Andrew Stanton

In [ ]:
movies_data.shape

(4803, 24)

selecting the relevent features

In [ ]:
selected_features = ['genres','keywords','tagline','overview','cast','director']
print(selected_features)

['genres', 'keywords', 'tagline', 'overview', 'cast', 'director']

replacing null values with null string

In [ ]:
for feature in selected_features:
  movies_data[feature] = movies_data[feature].fillna('')

In [ ]:
combined_features = movies_data['genres']+' '+movies_data['keywords']+' '+movies_data['tagline']+' '
+movies_data['overview']+' '+movies_data['cast']+' '+movies_data['director']
print(combined_features)

0       Action Adventure Fantasy Science Fiction cultu...
1       Adventure Fantasy Action ocean drug abuse exot...
2       Action Adventure Crime spy based on novel secr...
3       Action Crime Drama Thriller dc comics crime fi...
4       Action Adventure Science Fiction based on nove...
                              ...
4798    Action Crime Thriller united states\u2013mexic...
4799    Comedy Romance  A newlywed couple's honeymoon ...
4800    Comedy Drama Romance TV Movie date love at fir...
4801                            A New Yorker in Shanghai
4802    Documentary obsession camcorder crush dream gi...
Length: 4803, dtype: object

converting text data to feature vector

In [ ]:
vectorizer = TfidfVectorizer()

In [ ]:
feature_vectors = vectorizer.fit_transform(combined_features)
print(feature_vectors)

  (0, 4498)	0.35977146596126014
  (0, 4348)	0.11969800165259886
  (0, 7005)	0.16951497952634928
  (0, 6257)	0.09428706610088097
  (0, 2102)	0.3176552747616365
  (0, 5741)	0.2828344413384406
  (0, 1321)	0.33000816200564936
  (0, 6802)	0.16592099630102675
  (0, 5793)	0.44903494633034546
  (0, 2576)	0.21772343390141816
  (0, 1244)	0.2968078745280208
  (0, 1585)	0.2828344413384406
  (0, 2370)	0.13702838223474842
  (0, 5427)	0.13702838223474842
  (0, 2296)	0.14687069071321432
  (0, 190)	0.11927285589220428
  (0, 155)	0.10392045738902624
  (1, 646)	0.2256283604141521
  (1, 2078)	0.2363184185838419
  (1, 455)	0.1983798683793789
  (1, 3637)	0.15190171604782024
  (1, 4374)	0.14471052044386193
  (1, 3724)	0.14052089954370584
  (1, 1361)	0.26118368008546655
  (1, 6401)	0.3180638946881614
  :	:
  (4799, 4348)	0.11911590179532587
  (4799, 6257)	0.0938285414224214
  (4800, 5621)	0.3545557766157617
  (4800, 6187)	0.3488844346046621
  (4800, 4193)	0.37207260176999274
  (4800, 2416)	0.27494012230371234
  (4800, 3277)	0.32032179637405067
  (4800, 4119)	0.284618019324068
  (4800, 6518)	0.296425873689932
  (4800, 1642)	0.3390704364658079
  (4800, 5258)	0.14391976868245968
  (4800, 1339)	0.10886620790079507
  (4800, 1928)	0.09335750998797133
  (4800, 455)	0.2716367568865279
  (4800, 3724)	0.19241186990724696
  (4801, 7057)	0.6760989855758236
  (4801, 5552)	0.6227482268671222
  (4801, 4248)	0.30204469201986717
  (4801, 3173)	0.2526733299337727
  (4802, 1575)	0.5326593118967148
  (4802, 984)	0.48702645868747063
  (4802, 1882)	0.3121207513039128
  (4802, 2654)	0.36637975727312877
  (4802, 1933)	0.3405699443718098
  (4802, 4330)	0.3625436650178933